/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-feb-2015, 15:00:37
    Author     : Fran Rodríguez
*/
#crear_aula {
    float:left;
    width:30%;
}
#gestion_aula {
    float:left;
    width:69%;
    padding-right:1%;
}
