/* 
    Created on : 19-feb-2015, 13:52:24
    Author     : Fran Rodríguez
*/
#PeopleTableContainer {
    width: auto;
}

#software {
    width:100%;
    height:90px;
    overflow-y:scroll;
}

#mvs {
    width:100%;
    height:90px;
    overflow-y:scroll;
}

